<div class="buttons">
  <%= form.submit t('madmin_ransack.filters.search'), name: nil, class: "button btn btn-primary" %>
  <%= link_to t('madmin_ransack.filters.clear_filters'), clear_filters_path, class: "button btn btn-secondary" %>
</div>
