<%
  # attribute_labels ||= {}
  # attribute_types ||= @dashboard.attribute_types.select { |key, _value| @dashboard.collection_attributes.include?(key) }
  options ||= {}
  form_options = { html: { 'data-madmin-ransack-filters': '1' } }
  namespace = local_assigns[:namespace] || :madmin
  if local_assigns.has_key?(:search_path)
    form_path = @ransack_results
    form_options[:url] = search_path
    clear_filters_path = search_path
  else
    form_path = [namespace, @ransack_results]
    clear_filters_path = url_for(url_for([namespace, @ransack_results.klass]))
  end
%>

<% render 'madmin_ransack/javascript' %>

<%= search_form_for form_path, form_options do |f| %>
  <div class="filters">
    <% attribute_types.each do |field, type| %>
      <% next if field == :id %>

      <% label = attribute_labels.include?(field) ? attribute_labels[field] : field %>
      <% model = @ransack_results.klass %>
      <% input_type = type.is_a?(Madmin::Fields::Deferred) ? type.deferred_class.to_s : type.to_s %>
      <% component = MadminRansack::FILTERS[input_type] || 'field_other' %>

      <div class="form-group">
        <%= render "madmin_ransack/components/#{component}", form: f, model: model, field: field, label: label, type: type, options: options[field] %>
      </div>
    <% end %>
  </div>

  <%= render 'madmin_ransack/components/filter_buttons', form: f, clear_filters_path: clear_filters_path %>
<% end %>
